html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif;
    transition: all 150ms ease-in-out;
}

button:hover {
    opacity: 70%;
}

h1, h2, h3, h4, h5, h6,
p,
a,
ul, li {
    margin: 0;
    padding: 0;
}

a {
    color: $black;
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;

    &-jc-sa {
        justify-content: space-around;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-jc-se {
        justify-content: space-evenly;
    }

    &-ai-c {
        align-items: center;
    }
}

#overlay {
    background-color: rgba(0, 0, 0, 0.7);
    
    position: absolute;
    top: 0;
    left: 0;

    height: calc(100% + 70vw);
    width: 100%;

    z-index: 2;

    @include breakpoint-up(medium) {
        height: 115%;
    }
}

#overlay-thumbnails, .thumbnails {
    display: none;

    @include breakpoint-up(medium) {
        display: flex;
        margin-top: 1rem;
    }

    &>img {
        @include breakpoint-up(medium) {
            border-radius: 0.8rem;
            height: 4rem;
            transition: all 50ms ease-in-out;
            width: 4rem;
        }

        @include breakpoint-up(large) {
            height: 4.75rem;
            width: 4.75rem;
        }

        &:hover {
            border: solid 0.1875rem $orange;
            cursor: pointer;
            opacity: 70%;
        }
    }

    .active__thumbnail {
        border: solid 0.1875rem $orange;
        opacity: 70%;
    }
}

.hide {
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease-in-out;
}

.hide__for__desktop {
    @include breakpoint-up(medium) {
        display: none;
    }
}

.active {
    opacity: 1;
    pointer-events: all;
    transition: all 200ms ease-in-out;
}