html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6,
p,
a,
ul, li {
    margin: 0;
    padding: 0;
}

a {
    color: $black;
    cursor: pointer;
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;

    &-jc-sa {
        justify-content: space-around;
    }

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-jc-se {
        justify-content: space-evenly;
    }

    &-ai-c {
        align-items: center;
    }
}

.hide {
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease-in-out;
}

.hide__for__desktop {
    @include breakpoint-up(medium) {
        display: none;
    }
}

.active {
    opacity: 1;
    pointer-events: all;
    transition: all 200ms ease-in-out;
}