$black: hsl(0, 0%, 0%);

$xdkBlue: hsl(220, 13%, 13%);

$grayishBlue: hsl(220, 14%, 75%);
$ltGrayishBlue: hsl(223, 64%, 98%);
$dkGrayishBlue: hsl(219, 9%, 45%);

$orange: hsl(26, 100%, 55%);
$ltOrange: hsl(25, 100%, 85%);
$paleOrange: hsl(25, 100%, 94%);

$white: hsl(0, 0%, 100%);

$fontRegular: 1rem;